/* html{
    margin-right: 0;
} 

body{
    background: #101010;
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.6;
    color: #bbb;
    background: #101010;
    letter-spacing: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body a {
    color: #bbb;
}

.containers{
    position: relative;
    margin: 0;
    overflow: hidden;
}

.wrapper{
    position: relative;
}

.section .started .personal{
    text-align: center;
}

.section .started .personal{
    z-index: 12;
}

@media screen and (max-width: 720px){
    .section .started {
        padding: 0 30px!important;
    }
}

.section.started {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
    z-index: 11;
}



@media (max-width: 720px){
.section {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
    padding-left: 30px!important;
    padding-right: 30px!important;
} 
}

.section {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    z-index: 12;
    max-width: 855px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media (max-width: 480px){
.video-bg {
    margin-left: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
}
}
.video-bg {
    margin-left: -50vw;
    position: absolute !important;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.video-bg-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .25;
    z-index: 2;
}
.centrize {
    display: table;
    table-layout: fixed;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.full-width {
    max-width: 100%;
    width: 100%;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
.section.started.personal .started-content {
    max-width: 100%;
}

.section.started .started-content {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: 855px;
}

@media only screen and (max-width: 720px){
    .section.started .started-content .logo {
        position: absolute!important;
        top: 0!important;
        left: -30px!important;
        width: 110vw!important;
        height: 62vh!important;
        -webkit-clip-path: polygon(25% 0,100% 25%,80% 100%,0 85%)!important;
        clip-path: polygon(25% 0,100% 25%,80% 100%,0 85%)!important;
    }
    }

    @media only screen and (max-width: 1199px){
        .section.started .started-content .logo {
            top: -11.5vh!important;
            left: -18.5vw!important;
            width: 56vw!important;
            height: 80vh!important;
        }
        }

.section.started .started-content .logo {
    position: relative;
    display: inline-block;
    top: -100px;
    left: -300px;
    width: 740px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-clip-path: polygon(31% 0,100% 25%,61% 100%,0 93%);
    clip-path: polygon(31% 0,100% 25%,61% 100%,0 93%);
}




.lazyloaded {
    opacity: 1;
    transition: opacity .3s;
}

@media (max-width: 720px){
.section.started.personal .started-content .h-title {
    left: 0!important;
    top: auto!important;
    bottom: 0!important;
    width: 100%!important;
    margin-top: 0!important;
    margin-left: 0!important;
    padding-bottom: 70px!important;
}
}
@media screen and (max-width: 1199px){
.section.started.personal .started-content .h-title {
    margin-left: 15px!important;
    margin-top: 115px!important;
    width: 320px!important;
    max-width: 320px!important;
    font-size: 20px!important;
}
}
.section.started.personal .started-content .h-title {
    margin-left: -85px;
    margin-top: 85px;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    width: 29vw;
    font-size: 1.35vw;
    text-align: left;
}
.section.started.personal .started-content .h-title {
    max-width: 29vw;
}
.section.started .started-content .h-title, h1{
    color: #fff;
}

@media (max-width: 720px)
{.section.started .started-content .h-title {
    left: 0!important;
    bottom: 30px!important;
    padding-right: 50px!important;
    font-size: 17px!important;
}}
@media (max-width: 1199px)
{.section.started .started-content .h-title {
    left: 50px!important;
}}
.section.started .started-content .h-title {
    margin: 0;
    position: absolute;
    left: calc(20% + 35px);
    bottom: 50px;
    max-width: 560px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
@media screen and (max-width: 720px){
h1 {
    font-size: 24px!important;
}
}
@media screen and (max-width: 720px){

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px!important;
}
}
h1 {
    font-size: 34px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.header {
    padding: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .7s cubic-bezier(.165,.85,.45,1);
    -moz-transition: all .7s cubic-bezier(.165,.85,.45,1);
    -webkit-transition: all .7s cubic-bezier(.165,.85,.45,1);
    -o-transition: all .7s cubic-bezier(.165,.85,.45,1);
}
.header .head-top {
    position: relative;
}
.header .menu-btn {
    position: relative;
    margin: 0 auto;
    width: 30px;
    height: 20px;
}
a {
    color: #eee;
    text-decoration: underline;
    outline: none;
}
.header .menu-btn:before, .header .menu-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.header .menu-btn span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: -1px;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.header .menu-btn:after {
    top: auto;
    bottom: 0;
}
.header .menu-btn:before, .header .menu-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.header .logo a {
    color: rgba(255,255,255,.65);
    text-decoration: none;
    display: inline-block;
}
a, .section.works .filters label, .single-post-text p a, .comment-text p a, .post-text-bottom span.cat-links a, .content-sidebar .tagcloud a {
    color: #eee;
}
a {
    color: #eee;
    text-decoration: underline;
    outline: none;
}
.hover-masks-logo .mask-lnk {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transition: transform .7s cubic-bezier(.165,.85,.45,1);
    transition: transform .7s cubic-bezier(.165,.85,.45,1);
}
.noHover{
    pointer-events: none;
}


.header .logo strong {
    color: #fff;
}
strong{
    font-weight: 700;
}
.hover-masks-logo .mask-lnk.mask-lnk-hover {
    position: absolute;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
}
.hover-masks .mask-lnk, .hover-masks-logo .mask-lnk {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transition: transform .7s cubic-bezier(.165,.85,.45,1);
    transition: transform .7s cubic-bezier(.165,.85,.45,1);
}

@media (max-width: 1199px){
.header .logo {
    position: relative!important;
    top: 0!important;
    transform: translateY(0%)!important;
    -webkit-transform: translateY(0%)!important;
    -moz-transform: translateY(0%)!important;
    -o-transform: translateY(0%)!important;
}
}
.header .logo {
    position: absolute;
    overflow: hidden;
    top: 50%;
    font-size: 16px;
    line-height: 2.5;
    font-weight: 600;
    color: rgba(255,255,255,.5);
    white-space: nowrap;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media (max-width: 1199px){
.header .top-menu {
    line-height: normal;
}}
@media (max-width: 1199px){
.header .top-menu {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    float: none;
    width: auto;
    height: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s cubic-bezier(.165,.85,.45,1);
    -moz-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
    -webkit-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
    -o-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
}}
.header .top-menu {
    text-align: right;
}
@media (max-width: 1199px)
{.header .top-menu-nav {
    display: block;
}}
.header .top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    list-style: disc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    list-style-position: inside;
}
.section.started .started-content .h-title strong{
    color: #4bffa5;
} */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    justify-content: center;
}

.flex-container .card {
    margin: 10px;
    background: rgb(32, 32, 36);
    border-radius: 8px!important;
    display: flex;
    flex-direction: column;
}

.card-img-top{
    width: 100%;
    border-radius: 8px 8px 0px 0px!important;
    height: 300px;
}

.project-container{
    margin-top: 100px;
    margin-left: 4vw;
    margin-bottom: 100px; 
}

.card-body{
    padding: 10px 20px;
}
